* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
}

body, html {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue",
  Helvetica, sans-serif;>
  font-size: 17pc;
  color: black;
  line-height: 1.6;

}
