


.nav-container {
  background-color: rgba( 16, 12, 45, 0.6);
  display: flex;
  font-size: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.nav-container > a:nth-child(1) {   /* .logo container */
  align-self: center;
  margin: 17px auto 17px 10%;
}
.logo-nav {   /* .logo navbar style*/
  height: 2.5em;
}
.nav-container > a {
  text-decoration: none;
  color: #FFFFFF;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link:hover {
  background-color: rgba( 2, 38, 58, 0.8);
}



.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; */centers video*/
  font-size: 100px;
}
.top-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  border-top: 3px solid rgba( 255, 255, 255, 0.7);

}
.vertical { /*top line divider */
  border-left: 3px solid rgba( 255, 255, 255, 0.7);
  height: 260px;

}
.vertical-btm { /*bottom line divider*/
  border-left: 3px solid rgba( 255, 255, 255, 0.7);
}
.top-col > .top-icon {
  text-align: center;
  margin: 1em;
  padding-top: 3.5em;
  flex: 30%;
}
.top-col > .text {
  flex: 30%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
 #top-img {
  width: 35%;
  background-color: rgb( 16, 12, 45);/*#3366cc*/
}
#blue-check {
  width: 20%;
}
#red-fire {
  width: 20%
}
#green-plus {
  width: 20%;

}





.flex-container > .middle-col {
display: flex;
background-color: rgb( 16, 12, 30);
align-items: center;
height: 100vh;
justify-content: center;
}
#video {
  border: 5px solid rgba( 255, 225, 255, 0.7);
  border-radius: 5px;
  margin: 30px 0 30px 0;
  width: 50%;
}

.bottom-col {
  display: flex;
  background-color: black;
  width: 100%;
  border:3px solid blue;
  color: white;
  height: 200px;
}

.form {
  margin-left: 3em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 600px;
  align-items: center;
  flex-direction: column;
  color: white;
}
.form > .form-content {
  width: 400px;
  height: 30px;
  text-align: center;

}


#email {
  text-align: left;
}



@media all and (max-width: 600px) {
  .nav-container {
    flex-wrap: wrap;
  }
  .nav-container > a {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    align-items: center;
  }
  .container > a:nth-child(1) {
    margin: 0 0 0 0;
    flex-basis: 100%;
    height: 3.5em;
  }
  .logo-nav {
    height: 1.5em;
  }
}
